<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nobeta.bbs.module.agent.mapper.AgentMapper">

    <sql id="AgentColumns">
        token,
        user_id,
        name,
        expire,
        create_time,
        update_time,
        is_deleted
    </sql>


    <!-- selectAgentTokenPage --> 

    <select id="selectAgentTokenPage" parameterType="cn.nobeta.bbs.module.agent.dto.AgentTokenPageQuery"
    resultType="cn.nobeta.bbs.module.agent.vo.AgentTokenVO">
        SELECT
            token, name, expire
        FROM agent_token
        WHERE user_id = #{userId} AND is_deleted = 0
        ORDER BY
            <choose>
                <when test="sortField == 'updateTime'">
                    update_time
                </when>
                <otherwise>
                    create_time
                </otherwise>
            </choose>
            
            <choose>
                <when test="sortOrder != null and sortOrder.toLowerCase() == 'asc'">
                    ASC
                </when>
                <otherwise>
                    DESC
                </otherwise>
            </choose>
    </select>

    <!-- insertAgent --> 

    <insert id="insertAgent">
        INSERT INTO agent_token (
            token, user_id, name, expire
        ) VALUES (
            #{token}, #{userId}, #{name}, #{expire}
        )
    </insert>

    <!-- selectByToekn --> 

    <select id="selectByToken">
        SELECT
            <include refid="AgentColumns"></include>
        FROM agent_token
        WHERE token = #{token} AND is_deleted = FALSE
    </select>
</mapper>