<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.faramita.bbs.module.file.mapper.FileMapper">

    <!-- insertAvatar -->
    <insert id="insertAvatar">
        INSERT INTO avatar_info (
            file_uuid,
            is_referenced,
            user_id,
            expire_time
        ) VALUES (
            #{fileInfo.fileUuid},
            #{fileInfo.isReferenced},
            #{fileInfo.uid},
            #{fileInfo.expireTime}
        )
    </insert>

    <!-- updateAvator -->
    <update id="updateAvator">
        UPDATE avatar_info
        SET
            is_referenced = #{avatorInfo.isReferenced},
            user_id = #{avatorInfo.uid}
        WHERE file_uuid = #{avatorInfo.fileUuid}
    </update>

    <!-- batchDeleteByIds -->
    <delete id="batchDeleteByIds">
        DELETE FROM avatar_info
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
