<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="online.faramita.bbs.mapper.UserMapper">


    <!-- insert --> 

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into user
        (username, password, nickname, avatar, sex, race)
        values
        (#{username}, #{password}, #{nickname}, #{avatar}, #{sex}, #{race})
    </insert>       

    <!-- update --> 

    <update id="update">
        update user
        <set>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="nickname != null and nickname != ''">nickname = #{nickname},</if>
            <if test="avatar != null and avatar != ''">avatar = #{avatar},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="race != null and race != ''">race = #{race},</if>
            <if test="signature != null and signature != ''">signature = #{signature},</if>
            <if test="loginFailCount != null">login_fail_count = #{loginFailCount},</if>
            <if test="lockTime != null">lock_time = #{lockTime},</if>
            <if test="isLocked != null">is_locked = #{isLocked},</if>
            update_time = NOW()
        </set>
        where id = #{id}
    </update>
</mapper>